@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    135deg,
    #08111f 0%,
    #0b1629 40%,
    #101c32 100%
  );

  color: white;
}

.gold-text {
  background: linear-gradient(90deg, #ffd700, #ffb300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-card {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.glass-card:hover {
  transform: translateY(-6px);
  border-color: #ffd700;
}

.section-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-button {
  background: #0d6efd;
  padding: 12px 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.project-button:hover {
  background: #0b5ed7;
}
.hero-glow {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(255, 215, 0, 0.08);
  border-radius: 50%;
  filter: blur(120px);
}

.hero-glow-blue {
  position: absolute;
  width: 450px;
  height: 450px;
  background: rgba(0, 102, 255, 0.08);
  border-radius: 50%;
  filter: blur(120px);
}

.project-button {
  transition: all 0.3s ease;
}

.project-button:hover {
  transform: translateY(-3px);
  box-shadow:
    0 0 20px rgba(0,102,255,0.5);
}

.glass-card:hover {
  box-shadow:
    0 0 30px rgba(255,215,0,0.15);
}
nav a {
  transition: 0.3s;
}

nav a:hover {
  color: #ffd700;
}